@model HospitalProject.Models.Job
@{
    ViewBag.Title = "ApplyJob";
}

<section class="jobMain container py-5">
    <h2>Apply Job</h2>

    <h4>Company Name: @Model.name</h4>
    <h4>Skill: @Model.skill</h4>

    @*Form to fill an Application for the job selected in the List Jobs page for the user*@
    <form method="post" href="/Job/ApplyJob" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" name="jobId" value="@Model.jobId" />
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">First Name:</label>
                <input class="form-control" id="firstName" name="firstName" type="text" />
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Last Name:</label>
                <input class="form-control" id="lastName" name="lastName" type="text" />
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email ID:</label>
                <input class="form-control" id="emailId" name="emailId" type="text" />
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Cover Letter:</label>
                <input class="form-control" id="coverLetter" name="coverLetter" type="text" />
            </div>
            <div class="form-group">
                <label class="col-sm-2 col-form-label">Resume:</label>
                <input type="file" name="resume" id="resume" accept=".pdf,.docx,.doc" />
            </div>

        </div>
        <!-- Link styled as a button to go back to the list page-->
        <a class="btn btn-default" href="/Job/ListJobs">Back</a>
        <!-- Button to submit the form-->
        <input type="submit" class="btn btn-primary" value="Apply Job">
    </form>
</section>


