@model IEnumerable<HospitalProject.Models.Notifications>

@{
    ViewBag.Title = "ShowOnHome";
}
@{
    foreach (var noti in Model)
    {
        if (noti.typeId == 1)
        {
            <div class="notification container-fluid text-center py-2 alert alert-dismissible alert-danger">
                <h3>@noti.headline</h3>
                <p>@noti.content</p>
            </div>
        }
        else
        {
            <div class="notification container-fluid text-center py-2 alert alert-dismissible alert-light">
                <h3>@noti.headline</h3>
                <p>@noti.content</p>
            </div>
        }
    }
}
