@model HospitalProject.Models.Blog
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="container py-5">
    <div class="text-center py-3">
        <p class="display-4">Are you sure you want to permanently DELETE this post?</p>
        <form action="/Blogs/Delete/@Model.Id" method="post">
            <button type="submit" name="delete" class="btn btn-primary">OK</button>
            <a href="/Blogs/ListAdmin" class="btn btn-secondary">Cancel</a>
        </form>
    </div>

</section>
<hr />